[Desktop Entry]
Type=Application
Version=1.0
TryExec=lxqt-powermanagement
Exec=lxqt-powermanagement
OnlyShowIn=LXQt;
X-LXQt-Need-Tray=true
X-LXQt-Module=true

Name=Power Management
Name[ar]=إدارة الطاقة
Name[bg]=Управление на захранването
Name[ca]=Gestió d'energia
Name[cs]=Správa napájení
Name[da]=Strømstyring
Name[de]=LXQt-Energieverwaltung
Name[el]=Διαχείριση ενέργειας
Name[es]=Gestión de energía
Name[et]=Toitehaldus
Name[fr]=Gestion de l'énergie
Name[he]=ניהול צריכת חשמל
Name[hr]=Upravljanje energijom
Name[hu]=Energiakezelés
Name[it]=Gestore energia
Name[ja]=電源管理
Name[ko]=전원 관리
Name[lt]=Maitinimo valdymas
Name[nb_NO]=Strømstyring
Name[nl]=Energiebeheer
Name[oc]=Gestion energetica
Name[pl]=Zarządzanie energią
Name[pt]=Gestor de energia do LXQt
Name[ru]=Управление энергопотреблением
Name[sk]=Správa napájania
Name[tr]=Güç Yönetimi
Name[uk]=Менеджер живлення
Name[vi]=Quản lí Năng lượng
Name[zh_CN]=电源管理
Name[zh_TW]=電源管理
