[Desktop Entry]
Type=Application
Name=GNOME keyboard configuration
Exec=/usr/lib/gsd-keyboard
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Autostart-Phase=Initialization
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
X-GNOME-HiddenUnderSystemd=true
