[Desktop Entry]
Type=Application
Name[ca]=Notificador d'alarmes Evolution
Name[da]=Påmindelse fra Evolution
Name[de]=Alarmbenachrichtigungen in Evolution
Name[el]=Ειδοποίηση ξυπνητηριού Evolution
Name[en_GB]=Evolution Alarm Notify
Name[fr]=Notification d’alarme Evolution
Name[hu]=Evolution riasztásértesítő
Name[it]=Notifica allarmi Evolution
Name[lv]=Evolution signāla paziņojums
Name[ms]=Makluman Penggera Evolution
Name[nb]=Evolution alarmvarsel
Name[nl]=Evolution-herinneringsmelding
Name[pl]=Powiadamianie o alarmach programu Evolution
Name[ro]=Notificare pentru alarmă Evolution
Name[sr]=Обавештење аларма Еволуције
Name[tr]=Evolution Alarm Bildirimi
Name[zh_TW]=Evolution 響鈴通知
Name=Evolution Alarm Notify
Comment[ca]=Sol·licitud d'esdeveniment del calendari
Comment[da]=Påmindelse om begivenheder i kalender
Comment[de]=Benachrichtigungen für Kalendertermine
Comment[el]=Ειδοποιήσεις συμβάντος ημερολογίου
Comment[en_GB]=Calendar event notifications
Comment[fi]=Kalenteritapahtuman muistutukset
Comment[fr]=Notifications d’évènements d’agenda
Comment[hu]=Naptáresemény-értesítések
Comment[it]=Notifiche degli eventi di calendario
Comment[lv]=Kalendāra notikuma paziņojumi
Comment[ms]=Pemberitahuan peristiwa kalendar
Comment[nb]=Varsling for kalenderhendelse
Comment[nl]=Meldingen van agenda-afspraken
Comment[pl]=Powiadomienia o wydarzeniach z kalendarza
Comment[ro]=Notificări de evenimente din Calendar
Comment[sr]=Обавештења о догађајима календара
Comment[tr]=Takvim olayı bildirimleri
Comment[zh_TW]=行事曆活動通知
Comment=Calendar event notifications
Icon=appointment-soon
Exec=/usr/lib/evolution-data-server/evolution-alarm-notify
Terminal=false
Categories=
NoDisplay=true
X-Meego-Priority=Low
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=evolution-data-server
X-GNOME-Bugzilla-Component=calendar
X-GNOME-Bugzilla-Version=3.44.x
X-GNOME-UsesNotifications=true
