[Desktop Entry]
Type=Application
Name=GNOME RFKill support
Exec=/usr/lib/gsd-rfkill
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Autostart-Phase=Initialization
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
X-GNOME-HiddenUnderSystemd=true
