[Desktop Entry]
Type=Application
Name=GNOME WWan support
Exec=/usr/lib/gsd-wwan
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Autostart-Phase=Initialization
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
X-GNOME-HiddenUnderSystemd=true
